.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  margin-top: 5px;
}

.btn-success {
  margin-top: 5px;
}

.backgroundImage {
  background-image: url('./images/shawn-ang-nmpW_WwwVSc-unsplash.jpg');
  background-size: cover;
}

.div-size {
  height: 800px;
}

.div-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.btn-events {
  background-color: #07b86b;
  color: black;
  padding: 10px 50px;
  border-radius: 5px;
}

.h1-home-text {
  text-align: left;
}

.footer {
  background-color: ##07b86b;
  
}