.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  margin-top: 5px;
}

.btn-success {
  margin-top: 5px;
}

.backgroundImage {
  background-image: url('./images/home-page4-picture.jpg');
  background-size: cover;
  background-position: right;
  border: 2px solid #18181a;
}

.div-size {
  height: 800px;
}

.div-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.home-text {
  text-align: justify;
}

.btn-events {
  background-color: #07b86b;
  color: #18181a;
  padding: 10px 50px;
  border-radius: 5px;
  border: 2px solid black;
  ;
}

.h1-home-text {
  text-align: left;
}

.footer {
  background-color: #07b86b;
}

.greenTitle {
  color: #07b86b;
  list-style-type: none;
  font-size: 1.3rem
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 350px;
}

.saveDate {
  width: 300px;
  height: 300px;
  background-color: white
}

.saveDate>p {
  font-weight: bold;
  line-height: 1.5rem;
  font-size: 1rem;
}

.socialMedia {
  width: 300px;
  height: 300px;
  background-color: white
}

.redTextFooter {
  color: rgb(236, 69, 41);

}

.socialMediaIcons {
  display: flex;
  justify-content: center;
  margin: 20px
}

.socialMediaText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navegacao {
  height: 300px;
}

.navegacao>p {
  color: rgb(124, 124, 124);
  line-height: 1.5rem;
}

.loginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px
}

.creatingEventForm {
  width: 20rem;
}

.cuisinesImage {
  width: 50px;
  height: 50px
}


/* Tiago footer */

.tiago-footer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #18181a;
}

.tiago-inner-footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100px;
}

.tiago-inner-footer .tiago-logo-container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.tiago-inner-footer .tiago-logo-container img {
  width: 90px;
  height: auto;
}

.tiago-inner-footer .tiago-footer-third {
  width: calc(21.66667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.tiago-inner-footer .tiago-footer-third:last-child {
  margin-right: 0;
}

.tiago-inner-footer .tiago-footer-third h3 {
  font-family: 'arial';
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.tiago-inner-footer .tiago-footer-third a {
  font-family: 'arial';
  font-size: 12px;
  color: white;
  display: block;
  font-weight: 200;
  width: 100%;
  margin-bottom: 5px;
}

.address {
  color: white;
  font-style: italic;
  font-size: 12px;
  padding-top: 10px;
}

.zomatoResponse {
  margin: 10px;
  width: 18rem;
  height: 20rem;

}

.titleRest {
  font-size: 2.3rem;
  color: #07b86b;
}